<div style="background-color: #3d556c;" class="navbar navbar-app navbar-absolute-top">


        <div class="im">
            <img src="logow.png" />
        </div>
    <p class="titelheader" >End User License Agreement</p>
</div>


<div class="scrollable">



    <div class="scrollable-content">
<div id="main">

    <h2 class="h2">End User License Agreement</h2>

    <article class="artikel">

       {{item.tekst}}

    </article>





    </div>
        </div>

</div>
<div  style="background-color: #3d556c;" class="navbar navbar-app navbar-absolute-bottom">
    <button id="fixedleftbutton" ng-click="decline()" class="btn-danger">< Decline</button><button id="fixedbutton" ng-click="accept()" class="btn-success">Accept ></button>
</div>