<div style="background-color: #3d556c;" class="navbar navbar-app navbar-absolute-top" >


    <div class="im">
        <img src="logow.png" />
    </div>
    <p class="titelheader" >Logboek</p>

    <button id="fixedtopbutton" ng-click="toProfile()" class="btn-success">Profiel ></button>

</div>
        <!--

<a toggle="on" target="myOverlay"  class="btn-success" href>Toggle</a>

<div overlay="myOverlay">
    <h4 class="overlay-title">My Overlay</h4>
    <p>
    <div class="sidebar sidebar-left" toggleable active-class="in" id="mainSidebar">

        <h1 class="app-name">Menu</h1>

        <div class="scrollable">
            <div class="scrollable-content">
                <div class="list-group" toggle="off" bubble target="mainSidebar">
                    <a class="list-group-item" href="#/">Profile <i class="fa fa-chevron-right pull-right"></i></a>
                    <a class="list-group-item" href="#/logboek">Logboek <i class="fa fa-chevron-right pull-right"></i></a>

                </div>

            </div>
        </div>

    </div> Earum odit facilis qui.
    </p>
    <p toggle="off" bubble target="myOverlay">
        <span class="btn btn-primary">Ok</span>
        <span class="btn btn-default">Cancel</span>
    </p>
</div>
-->
        <div id="main">


<div class="vraag" >
    <p>{{item.naam}}</p>
</div>
<div class="antwoord" data-ng-show="check" >
    <div>
        <input ng-model="value"  type="range" id="mySlider1" slider options="options" />
        {{value}}
    </div>
</div>

<div class="antwoord" data-ng-hide="check">

    <label>Ja<input type="radio" ng-model="answer" name="options" value="4"></label>
    <label>Nee<input type="radio" ng-model="answer" name="options" value="1"></label>

</div>

        <div class="onderkant">
            <button  ng-click="getHistory()" class="btn-success">Geschiedenis...</button>
            <div id="history" ng-repeat="vraag in vvragen">

                <p>{{vraag.naam}} : {{vraag.antwoord}}</p>





            </div>


        </div>

            </div>
<div  style="background-color: #3d556c;" class="navbar navbar-app navbar-absolute-bottom">
    <button id="fixedbutton" ng-click="nextLogQuestion()" class="btn-success">Antwoord ></button>
    <button id="fixedleftbutton" ng-click="goBack()" class="btn-success">< Terug</button>
 <!--   <button id="fixedmidbutton" ng-click="goStatik()" class="btn-success">< Statistieken ></button>-->
</div>