<style>


    @media screen and (max-width: 768px) and (orientation:portrait)
    {

        #main{

            float:left;
            width:100%;
            padding-left: 0px;
            padding-right: 0px;
            margin: 0 0 0 0;
        }

    }

</style>

<div style="background-color: #3d556c;" class="navbar navbar-app navbar-absolute-top">
    <div class="im">
        <img src="logow.png" />
    </div>
    <p class="titelheader" >Login</p>
</div>


<div>
    <img class="logo" src="logoiccan.png" />


    <form  role="form" class="form"  >








        <div class="form-group">

            <div class="input-group">

                <input class="form-control" type="text"  ng-minlength=2 ng-maxlength=20 ng-model="user" placeholder="Gebruikersnaam..." required />
            </div>
        </div>
        <div class="form-group">

            <div class="input-group">

                <input class="form-control" name="psw" type="password" ng-minlength=4 ng-maxlength=18 ng-model="pass" placeholder="Wachtwoord..." required />
            </div>
        </div>
        <div ng-cloak ng-show="createMode">

            <div class="form-group">
                <div class="input-group">

                    <input class="form-control" size="18" type="password" ng-model="confirm" ng-minlength=4 ng-maxlength=18 placeholder="Confirm wachtwoord" required />
                </div>
            </div>

            <div class="form-group">
                <div class="input-group">


                    <input class="form-control" size="18" type="text" ng-model="naam"  ng-minlength=2 ng-maxlength=20 placeholder="Naam..." required />
                </div>
            </div>


            <div class="form-group">
                <div class="input-group">

                    <input class="form-control" size="18" type="text" ng-model="achternaam" ng-minlength=2 ng-maxlength=20 placeholder="Achternaam..." required />
                </div>
            </div>


            <div class="form-group">
                <div class="input-group">


                    <input class="form-control" size="18" type="email" ng-model="email" placeholder="Email..." required />
                </div>
            </div>


            <div class="form-group">
                <div class="input-group">

        <input ng-model="geslacht" type="radio" value="m" required>

                   M

        <input ng-model="geslacht"  type="radio" value="v" required>

                    V

                </div>
            </div>

            <div class="form-group">
                <div class="input-group">

                    <div class="input-group date" id="datetimepicker1">
                        <input type="text" class="form-control" placeholder="Geboortedatum" required />



                    </div>
                </div>
            </div>




        </div>






        <div class="checkbox" data-ng-hide="createMode"><label><input type="checkbox">Remember me</label></div>
        <button  class="btn btn-primary" ng-click="login()" ng-hide="createMode">Login</button>
        <button  class="btn btn-default" ng-click="createMode = true" ng-hide="createMode">Inschrijven</button>
        <button class="btn btn-primary" ng-cloak ng-show="createMode" ng-click="createAccount()">Klaar</button>
        <button class="btn btn-danger" ng-cloak ng-show="createMode" ng-click="createMode = false">Cancel</button>

        <p ng-show="err" class="error">{{err}}</p>
    </form>



</div>
<div  style="background-color: #3d556c;" class="navbar navbar-app navbar-absolute-bottom">
    <!-- ... -->
</div>