
<style>



    #container{
        height:800px;
      ;

    }
    body{
        background: rgb(51,109,147); /* Old browsers */
        background: -moz-radial-gradient(center, ellipse cover,  rgba(51,109,147,1) 0%, rgba(61,85,108,1) 53%); /* FF3.6+ */
        background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(51,109,147,1)), color-stop(53%,rgba(61,85,108,1))); /* Chrome,Safari4+ */
        background: -webkit-radial-gradient(center, ellipse cover,  rgba(51,109,147,1) 0%,rgba(61,85,108,1) 53%); /* Chrome10+,Safari5.1+ */
        background: -o-radial-gradient(center, ellipse cover,  rgba(51,109,147,1) 0%,rgba(61,85,108,1) 53%); /* Opera 12+ */
        background: -ms-radial-gradient(center, ellipse cover,  rgba(51,109,147,1) 0%,rgba(61,85,108,1) 53%); /* IE10+ */
        background: radial-gradient(ellipse at center,  rgba(51,109,147,1) 0%,rgba(61,85,108,1) 53%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#336d93', endColorstr='#3d556c',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

    }
    .checkbox{
        color:white;
    }
</style>



<div class="scrollable">


<div id="container" >
<div class="scrollable-content">

    <img class="logo" src="logoiccan2.png" />
    <form  role="form" class="form" >








        <div class="form-group">

            <div class="input-group">

                <input class="form-control" type="text"  ng-minlength=2 ng-maxlength=20 ng-model="user" placeholder="Gebruikersnaam..." required />
            </div>
        </div>
        <div class="form-group">

            <div class="input-group">

                <input class="form-control" name="psw" type="password" ng-minlength=4 ng-maxlength=18 ng-model="pass" placeholder="Wachtwoord..." required />
            </div>
        </div>
        <div ng-cloak ng-show="createMode">

            <div class="form-group">
                <div class="input-group">

                    <input class="form-control" size="18" type="password" ng-model="confirm" ng-minlength=4 ng-maxlength=18 placeholder="Confirm wachtwoord" required />
                </div>
            </div>

            <div class="form-group">
                <div class="input-group">


                    <input class="form-control" size="18" type="text" ng-model="naam"  ng-minlength=2 ng-maxlength=20 placeholder="Naam..." required />
                </div>
            </div>


            <div class="form-group">
                <div class="input-group">

                    <input class="form-control" size="18" type="text" ng-model="achternaam" ng-minlength=2 ng-maxlength=20 placeholder="Achternaam..." required />
                </div>
            </div>


            <div class="form-group">
                <div class="input-group">


                    <input class="form-control" size="18" type="email" ng-model="email" placeholder="Email..." required />
                </div>
            </div>


            <div class="form-group">
                <div class="input-group">

        <input ng-model="geslacht" type="radio" value="m" >

                   M

        <input ng-model="geslacht"  type="radio" value="v">

                    V

                </div>
            </div>

            <div class="form-group">
                <div class="input-group">

                    <div class="input-group date" id="datetimepicker1">
                        <input type="date" data-date-format="dd/mm/yyyy" class="form-control" placeholder="Geboortedatum" required />



                    </div>
                </div>
            </div>




        </div>






        <div class="checkbox" data-ng-hide="createMode"><label><input type="checkbox">Remember me</label> <a  href="#/lostpsw">Wachtwoord vergeten</a></div>

        <button  class="btn btn-primary" ng-click="login()" ng-hide="createMode">Login</button>
        <button  class="btn btn-default" ng-click="createMode = true" ng-hide="createMode">Inschrijven</button>
        <button class="btn btn-primary" ng-cloak ng-show="createMode" ng-click="createAccount()">Klaar</button>
        <button class="btn btn-danger" ng-cloak ng-show="createMode" ng-click="createMode = false">Cancel</button>

        <p ng-show="err" class="error">{{err}}</p>
    </form>

        </div>
    </div>
</div>
