


<style>


    @media screen and (max-width: 768px) and (orientation:portrait)
    {
        .form{
            width:100%
        }
        #main{

            float:left;
            width:100%;
            padding-left: 0px;
            padding-right: 0px;
        }

    }

</style>

<div style="background-color: #5078E8;" class="navbar navbar-app navbar-absolute-top">
    <div class="im">
        <img src="logow.png" />
    </div>
<p class="titelheader" >Login</p>
</div>


<div id="main">



<form class="form">

    <img class="logo" src="logoiccan.png" />
    <div class="form-group">

        <div class="input-group">
             <span class="input-group-addon">G</span>
        <input class="form-control" type="text"  ng-model="user" placeholder="Gebruikersnaam..." />
</div>
        </div>
    <div class="form-group">

        <div class="input-group">
            <span class="input-group-addon">*</span>
        <input class="form-control" type="password" maxlength="25" size="18" ng-model="pass" placeholder="Wachtwoord..." />
</div>
      </div>
    <div ng-cloak ng-show="createMode">

       <div class="form-group">
           <div class="input-group">
               <span class="input-group-addon">**</span>
            <input class="form-control" size="18" type="password" ng-model="confirm" placeholder="Confirm wachtwoord" />
               </div>
           </div>

        <div class="form-group">
           <div class="input-group">
               <span class="input-group-addon">N</span>

               <input class="form-control" size="18" type="text" ng-model="naam" placeholder="Naam..." />
               </div>
            </div>


        <div class="form-group">
           <div class="input-group">
               <span class="input-group-addon">AN</span>
               <input class="form-control" size="18" type="text" ng-model="achternaam" placeholder="Achternaam..." />
               </div>
            </div>


        <div class="form-group">
           <div class="input-group">
               <span class="input-group-addon">@</span>

           <input class="form-control" size="18" type="email" ng-model="email" placeholder="Email..." />
              </div>
            </div>


        <div class="form-group">
        <div class="input-group">
      <span class="input-group-addon">
        <input type="checkbox">
      </span>
            <p class="form-control">M</p>
             <span class="input-group-addon">
        <input type="checkbox">
      </span>
            <p class="form-control">V</p>

        </div>
            </div>

        <div class="form-group">
           <div class="input-group">
               <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
              <div class="input-group date" id="datetimepicker1">
                  <input type="text" class="form-control" />



               </div>
            </div>
            </div>



</div>





    <button  class="btn btn-primary" ng-click="login()" ng-hide="createMode">Log In</button>
    <button  class="btn btn-default" ng-click="createMode = true" ng-hide="createMode">Inschrijven</button>
    <button class="btn btn-primary" ng-cloak ng-show="createMode" ng-click="createAccount()">Klaar</button>
    <button class="btn btn-danger" ng-cloak ng-show="createMode" ng-click="createMode = false">Cancel</button>

    <p ng-show="err" class="error">{{err}}</p>
</form>



</div>
<div  style="background-color: #5078E8;" class="navbar navbar-app navbar-absolute-bottom">
    <!-- ... -->
</div>