
<style>



    #container{
        height:800px;
        margin-left:25%;

    }
    body{
        color:white;
        background: rgb(51,109,147); /* Old browsers */
        background: -moz-radial-gradient(center, ellipse cover,  rgba(51,109,147,1) 0%, rgba(61,85,108,1) 53%); /* FF3.6+ */
        background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(51,109,147,1)), color-stop(53%,rgba(61,85,108,1))); /* Chrome,Safari4+ */
        background: -webkit-radial-gradient(center, ellipse cover,  rgba(51,109,147,1) 0%,rgba(61,85,108,1) 53%); /* Chrome10+,Safari5.1+ */
        background: -o-radial-gradient(center, ellipse cover,  rgba(51,109,147,1) 0%,rgba(61,85,108,1) 53%); /* Opera 12+ */
        background: -ms-radial-gradient(center, ellipse cover,  rgba(51,109,147,1) 0%,rgba(61,85,108,1) 53%); /* IE10+ */
        background: radial-gradient(ellipse at center,  rgba(51,109,147,1) 0%,rgba(61,85,108,1) 53%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#336d93', endColorstr='#3d556c',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

    }

</style>



<div class="scrollable">


    <div id="container" >
        <div class="scrollable-content">

            <img class="logo" src="logoiccan2.png" />
            <form  role="form" class="form" >



<h5>Enter your username and email and we will send you an email</h5>

                    <div class="form-group">
                        <div class="input-group">

                            <input class="form-control" size="18" type="text" ng-model="user" placeholder="Username..." required />
                            <input class="form-control"  type="email" ng-model="email" placeholder="Email..." required />
                        </div>
                    </div>



                <button class="btn btn-success"  ng-click="sendPassword()">Send</button>



            </form>

        </div>
    </div>
</div>
