<style>

    .topcoat-list__header{

        color:#ffffff;
    }
    .titelheader{

        padding-left:30px;
        margin-top:-45px;
    }
    .ulprofile li {
        margin-top:20px;
    }
 #main{
     margin-left: 5%;
 }

</style>

<div id="sp-nav" data-ng-show="show" ng-swipe-left="$spMenu.toggle()" >
    <div class="topcoat-list-container">
        <h3 class="topcoat-list__header">Menu</h3>
        <ul class="topcoat-list">
            <li ng-click="goTaak()" class="topcoat-list__item"><span class="glyphicon glyphicon-home"></span>
                Home
            </li>
            <li ng-click="goLogb()" class="topcoat-list__item"><span class="glyphicon glyphicon-pencil"></span>
                Logbook
            </li>
            <li ng-click="goProfile()" class="topcoat-list__item"> <span class="glyphicon glyphicon-user"></span>
                Profile

            </li>
            <li ng-click="logout()" class="topcoat-list__item"><span class="glyphicon glyphicon-off"></span>
                Logout
            </li>
        </ul>
    </div>


</div>
<div id="sp-page">
    <div id="topbutton" class="navbar navbar-app navbar-absolute-top">
        <button class="hamburger" ng-click="$spMenu.toggle()"></button>



        <div class="im">
        <img src="logow.png" />
    </div>
    <p class="titelheader" >Profiel</p>
</div>

    <div class="scrollable">



        <div class="scrollable-content">
<div id="main" ng-swipe-right="$spMenu.toggle()">

    <h2 class="h2">{{username}}</h2>


    <div  ng-show="view" >

        <ul class="ulprofile">
            <li>Voornaam: {{item.voornaam}}</li>
            <li>Naam: {{item.naam}}</li>
            <li>Email: {{item.email}}</li>
            <li>Geboortedatum: {{item.geboortedatum}}</li>

        </ul>
        <button class="btn btn-primary"  ng-click="editUser()">Wijzig</button>


    </div>





<div  >
    <form ng-show="update" class="form" ng-submit="applyChanges(person)">

            <div class="form-group">
                <div class="input-group">


                    <input class="form-control" size="18" type="text" ng-model="person.voornaam"  ng-minlength=2 ng-maxlength=20 placeholder={{item.voornaam}} />
                </div>
            </div>


            <div class="form-group">
                <div class="input-group">

                    <input class="form-control" size="18" type="text" ng-model="person.naam" ng-minlength=2 ng-maxlength=20 placeholder={{item.naam}} />
                </div>
            </div>


            <div class="form-group">
                <div class="input-group">


                    <input class="form-control" size="18" type="email" ng-model="person.email" placeholder={{item.email}}  />
                </div>
            </div>




        <input type="submit" class="btn btn-primary"  value="Pas aan" />




        <p ng-show="err" class="error">{{err}}</p>
    </form>
</div>

    <button class="btn btn-danger"  ng-click="resetQuestions()">Reset Questions</button>
    <button class="btn btn-danger" ng-click="resetPsw()">Reset Password</button>

    <form ng-submit="resetWachtwoord(password)" data-ng-show="reset" style="margin-top:2%;">
        <div class="form-group">
            <div class="input-group">


                <input class="form-control" size="18" type="password" ng-model="password.oud"  ng-minlength=2 ng-maxlength=20 placeholder="Oud Wachtwoord"  />
            </div>
        </div>


        <div class="form-group">
            <div class="input-group">

                <input class="form-control" size="18" type="password" ng-model="password.nieuw" ng-minlength=2 ng-maxlength=20 placeholder="Nieuw Wachtwoord"/>
            </div>
        </div>
        <input type="submit" class="btn btn-primary"  value="Wijzig wachtwoord" />

    </form>

</div>
            </div>
        </div>



</div>


