<style>

    .topcoat-list__header{

        color:#ffffff;
    }
    .titelheader{

        padding-left:30px;
        margin-top:-45px;
    }
    .ulprofile li {
        margin-top:20px;
    }
 #main{
     margin-left: 5%;
 }

</style>

<div id="sp-nav" data-ng-show="show" ng-swipe-left="$spMenu.toggle()" >
    <div class="topcoat-list-container">
        <h3 class="topcoat-list__header">Menu</h3>
        <ul class="topcoat-list">
            <li ng-click="goTaak()" class="topcoat-list__item"><span class="glyphicon glyphicon-home"></span>
                Home
            </li>
            <li ng-click="goLogb()" class="topcoat-list__item"><span class="glyphicon glyphicon-pencil"></span>
                Logbook
            </li>
            <li ng-click="goProfile()" class="topcoat-list__item"> <span class="glyphicon glyphicon-user"></span>
                Profile

            </li>
            <li ng-click="logout()" class="topcoat-list__item"><span class="glyphicon glyphicon-off"></span>
                Logout
            </li>
        </ul>
    </div>


</div>
<div id="sp-page">
    <div id="topbutton" class="navbar navbar-app navbar-absolute-top">
        <button class="hamburger" ng-click="$spMenu.toggle()"></button>



        <div class="im">
        <img src="logow.png" />
    </div>
    <p class="titelheader" >Profiel</p>
</div>

    <div class="scrollable">



        <div class="scrollable-content">
<div id="main" ng-swipe-right="$spMenu.toggle()">

    <h2 class="h2">{{username}}</h2>


    <div  ng-hide="check" >

        <ul class="ulprofile">
            <li>Voornaam: {{item.voornaam}}</li>
            <li>Naam: {{item.naam}}</li>
            <li>Email: {{item.email}}</li>
            <li>Geboortedatum: {{item.geboortedatum}}</li>

        </ul>
        <button class="btn btn-primary"  ng-click="editUser()">Wijzig</button>


    </div>





<div ng-show="check" >
    <form class="form">

            <div class="form-group">
                <div class="input-group">


                    <input class="form-control" size="18" type="text" ng-model="voornaam"  ng-minlength=2 ng-maxlength=20 placeholder={{item.voornaam}} required />
                </div>
            </div>


            <div class="form-group">
                <div class="input-group">

                    <input class="form-control" size="18" type="text" ng-model="naam" ng-minlength=2 ng-maxlength=20 placeholder={{item.naam}} required />
                </div>
            </div>


            <div class="form-group">
                <div class="input-group">


                    <input class="form-control" size="18" type="email" ng-model="email" placeholder={{item.email}} required />
                </div>
            </div>

        <div class="form-group">
            <div class="input-group">

                <div class="input-group date" id="datetimepicker1">
                    <input type="date" ng-model="geboortedatum" data-date-format="dd/mm/yyyy" class="form-control" placeholder="Geboortedatum" required />



                </div>
            </div>
        </div>



        <button class="btn btn-primary"  ng-click="applyChanges()">Pas aan</button>




        <p ng-show="err" class="error">{{err}}</p>
    </form>
</div>

    <button class="btn btn-danger"  ng-click="resetQuestions()">Reset Questions</button>

    </div>
            </div>
        </div>



</div>


