<div style="background-color: #3d556c;" class="navbar navbar-app navbar-absolute-top">


    <div class="im">
        <img src="logow.png" />
    </div>
    <p class="titelheader" >Statistieken Logboek</p>
</div>


<div id="main">

    <h2 class="h2">Statistieken</h2>

    <gh-visualization val="data" grouped="grouped"></gh-visualization>




</div>
<div  style="background-color: #3d556c;" class="navbar navbar-app navbar-absolute-bottom">
    <button id="fixedbutton" ng-click="accept()" class="btn-primary">Accept ></button>
</div>