
<style>
    .topcoat-list__header{

        color:#ffffff;
    }

    #maintaak{

        height:100%;
    }
   .panel-default > .panel-heading{

       color: #46627b;
       background-color: white;
       background-image: none;
       height:100px;
       cursor: pointer;

    }

    .panel-group .panel{
        border-style: solid ;
        border-width: 0,1px;;
        border-color: #b2c8ff;
    }
.scrollable-content{
    height:1200px;
}
    .titelheader2{


        margin-top:-45px;
    }
    .logoimg{
        margin-left: 2px;
    }
    #ytb{
       width:50px;
        height:50px;
        margin-top: -100px;;
        padding-bottom: 50px;
        padding-top: 50px;
    }

</style>





<div id="sp-nav" data-ng-show="show" ng-swipe-left="$spMenu.toggle()" >
    <div class="topcoat-list-container">
        <h3 class="topcoat-list__header">Menu</h3>
        <ul class="topcoat-list">
            <li ng-click="goTaak()" class="topcoat-list__item"><span class="glyphicon glyphicon-home"></span>
                 Home
            </li>
            <li ng-click="goLogb()" class="topcoat-list__item"><span class="glyphicon glyphicon-pencil"></span>
                Logbook
            </li>
            <li ng-click="goProfile()" class="topcoat-list__item"> <span class="glyphicon glyphicon-user"></span>
                Profile

            </li>
            <li ng-click="logout()" class="topcoat-list__item"><span class="glyphicon glyphicon-off"></span>
                Logout
            </li>
        </ul>
    </div>


</div>
        <div id="sp-page">
<div id="topbutton" class="navbar navbar-app navbar-absolute-top">
       <button class="hamburger" ng-click="$spMenu.toggle()"></button>

      <img class="logoimg" src="logow.png" />

    <p class="titelheader2" >Taken</p>
    </div>




            <div class="scrollable">



                <div class="scrollable-content">
        <div id="maintaak" ng-swipe-right="$spMenu.toggle()">






            <div class="panel-group" id="accordion">
                <div class="panel panel-default" ng-repeat="item in items">
                    <div class="panel-heading"  toggle target={{item.taakid}} ng-click="nextFile(item.bestand,item.type,item.omschrijving)">
                        <h4 class="panel-title">
                            <a href="#/" toggle target={{item.taakid}} ng-click="nextFile(item.bestand,item.type,item.omschrijving)">

                                {{item.doel}}
                            </a>
                        </h4>
                    </div>
                    <div id={{item.taakid}} toggleable active-class="in" exclusion-group="accordion1"  class="panel-collapse collapse">
                        <div class="panel-body">

                            <div data-ng-show="survey">
                                <p>Rate the task!</p>
                                <rating value="rate" max="max" ng-model="scor" readonly="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null"></rating>
                                <span class="label" ng-class="{'label-warning': percent<30, 'label-info': percent>=30 && percent<70, 'label-success': percent>=70}" ng-show="overStar && !isReadonly">{{percent}}%</span>
                                <p>Did the task help you?</p>
                                <textarea  ng-model="answer" rows="4" cols="6" placeholder="Comment..." class="topcoat-textarea"></textarea>

                                <button class="buttoncomp"  ng-click="enterSurvey(item.taakid,rate,answer)" class="btn btn-default">Done</button>


                            </div>

                            <div data-ng-hide="survey">
                            <button id="buttonpop" popover="{{Popover}}" popover-title="{{PopoverTitle}}" class="btn btn-default">?</button>



                            <div data-ng-show="imageshow">
                                <img src={{image}} height="150px" width="150px">
                                <div youtube code="code" ></div>
                            </div>

                             <div id="ytb" ng-show="link"><a href={{youtbe}}>Youtube</a></div>



                            <button class="buttoncomp"  ng-click="taskComplete()" class="btn btn-default">Task Complete!</button>
                           </div>

                        </div>
                    </div>

                </div>



</div>
</div>


        </div>


</div>
            </div>

