<style>

    .vraag{
        margin-left:2%;
    }
    .titelheader{

    }
</style>

<div style="background-color: #3d556c;" class="navbar navbar-app navbar-absolute-top">


    <div class="im">
        <img src="logow.png" />
    </div>
    <p class="titelheader" >Vragen</p>
</div>

<div id="main">

    <div class="vraag" >
    <p>{{item.naam}}</p>
</div>

    <div class="antwoord" data-ng-show="check" >

       <label class="topcoat-radio-button">1<input type="radio" ng-model="answer" name="options" value="1"><div class="topcoat-radio-button__checkmark"></div> </label>
        <label class="topcoat-radio-button">2<input type="radio" ng-model="answer" name="options" value="2"><div class="topcoat-radio-button__checkmark"></div> </label>
        <label class="topcoat-radio-button">3<input type="radio" ng-model="answer" name="options" value="3"><div class="topcoat-radio-button__checkmark"></div> </label>
        <label class="topcoat-radio-button">4<input type="radio" ng-model="answer" name="options" value="4"><div class="topcoat-radio-button__checkmark"></div> </label>
    </div>


    <div class="antwoord" data-ng-hide="check">

        <label class="topcoat-radio-button">Ja<input type="radio" ng-model="answer" name="options" value="1"><div class="topcoat-radio-button__checkmark"></div> </label>
        <label class="topcoat-radio-button">Nee<input type="radio" ng-model="answer" name="options" value="4"><div class="topcoat-radio-button__checkmark"></div> </label>

    </div>
</div>



<div  style="background-color: #3d556c;" class="navbar navbar-app navbar-absolute-bottom">
    <button data-ng-hide="sub" id="fixedbutton" ng-click="nextQuestion()" class="btn-success">Antwoord ></button>
    <button data-ng-show="sub" id="fixedbutton" ng-click="nextSubQuestion()" class="btn-danger">Antwoord ></button>
</div>