<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"

        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.phonegap.example"
        version     = "1.0.0"
        versionCode = "10" >

    <!-- versionCode is optional and Android only -->

    <preference name="phonegap-version" value="3.3.0" />

    <name>Iccan</name>

    <description>
        An example for phonegap build docs.
    </description>

    <icon src="icon.png" />

    <author href="http://yoursite.com" email="kevin.van.houtte1@gmail.com">
        Kevin Van Houtte
    </author>

</widget>